<!DOCTYPE html>
<html  ng-app="miapp" >
    <head>
            <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            
     
        <title>Welcome to F1!</title>
        <style>
            .btn-large{
                width: 80%;
            }
            .centrar{
                text-align: center;
            }
        </style>
    </head>

    <body  ng-controller="ctrl1">
        <button class="btn btn-sm btn-primary" ng-click="comenzar= true">Comenzar</button>

<div ng-show="comenzar">
    <h1 class="centrar">Introduce tu correo y pulsa enviar</h1>
  
    <form class="centrar" name="validar">
    <input class="btn-large" type="email" placeholder="email@domain.com" name="correo" ng-model="correo">
    <button class="btn btn-large btn-primary" ng-hide="validar.correo.$error.email || correo==''" ng-click="mostrar= true">Enviar</button>

    <div ng-show="validar.correo.$error.email">Introduce un correo válido</div>
    
</form>
</div>

<div ng-show="mostrar">
            
            <table class="table" >
                <tr><td><b>Nombre</b></td><td></td> <td><b>Escudería</b></td><td></td></tr>
                <tr ng-repeat="lista in listas"> 
                    <td>{{lista.Driver.givenName}}</td>
                    <td>{{lista.Driver.familyName}}</td>
                    <td>{{lista.Constructors[0].name}}</td>
                    <td><span class="badge">Eliminar</span></td>
            </tr>
                
                </table> 
    </div>

    <script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>    
    <script src= "controller.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
    </body>

    
</html>